%p
  %b Name:
  = @winery.name

= link_to 'Edit', edit_winery_path(@winery)
\|
= link_to 'Back', wineries_path

%h3 Vessels:
%ul
  - @winery.vessels.each do |vessel|
    %li= vessel.name

%h3 New Vessel
= render 'vessels/form'
